
    
		/*reset*/

		/* http://meyerweb.com/eric/tools/css/reset/ 
		   v2.0 | 20110126
		   License: none (public domain)
		*/

		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
		  margin: 0;
		  padding: 0;
		  border: 0;
		  font-size: 100%;
		  font: inherit;
		  vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
		  display: block;
		}
		
		body {
		  line-height: 1;
		}
		ol, ul {
		  list-style: none;
		}
		blockquote, q {
		  quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
		  content: '';
		  content: none;
		}
		table {
		  border-collapse: collapse;
		  border-spacing: 0;
		}
		/*end reset*/
		
		body {
		  color: rgba(255,36,36,0.5);
		  font-size: 87.5;
		  font-family: 'Ubuntu', sans-serif;
		  line-height: 1.5;
		  text-align: left;
		}

		a {
		  text-decoration: none;
		  color: white;
		}
		a:link, a:visited {
		  color: white;
		}
		
		p {
			opacity: 0.8;
		}

		.body {
		  width: 70%;
		  margin: 0 auto;
		  clear: both;
		}

		.mainHeader {
		  padding-top: 10%;
		}
		
		.mainHeader img {
			width: 20%;
			opacity: 0.7;
			width: 40%;
  			height: 200px;
			padding-bottom: 1%;
		}

		.mainHeader nav {
		  opacity: 0.5;
		  height: 40px;
		  border-radius: 5px;
		  -moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
		  background-color: green;
		}

		.mainHeader nav ul {
		  margin: 0 auto;
		}

		.mainHeader nav ul li {
		  display: inline;
		}

		.mainHeader nav a:link, .mainHeader nav a:visited {
		  color: white;
		  display: inline-block; 
		  padding: 10px 25px;
		  height: 20px;
		}

		.mainHeader nav a:hover, mainHeader nav a:active,
		.mainHeader nav .active a:link, mainHeader nav .active a:visited {
		  background-color: #FF2424;
		  text-shadow: none;
		}
		.mainHeader nav ul li a {
		  border-radius: 5px;
		  -moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
				}

		.mainContent {
		  line-height: 25px;
		  border-radius: 5px;
   		  -moz-border-radius: 5px;
   		  -webkit-border-radius: 5px;
		}

		.content {
		  width: 70%;
		  float: left;
		}

		.topcontent {
			background-color: rgba(210,108,196,0.15);
			border-radius: 5px;
  			-moz-border-radius: 5px;
  			-webkit-border-radius: 5px;
  			padding: 3% 5%;
  			margin-top: 2%;
		}
		
		.topcontent p {
			margin-bottom: 1%;
		}
		
		.topcontent ul li {
			width: 100%;
			margin-top: 1%;
		}
		
		.graph {
			color: green;
			opacity: 0.8;
			display: inline-block;
			width: 20%;
			text-align: center;
		}
		
		.graph-bar {
			text-align: right;
			color: rgba(255,255,255,0.7);
			font-size: 50%;
			display: inline-block;
			background-color: rgba(255,36,36,0.3);
			border-radius: 5px;
  			-moz-border-radius: 5px;
  			-webkit-border-radius: 5px;
		}
		
		.graph-contnet {
			margin-right: 2%;
		}
		
		.bottomcontent {
			background-color: rgba(210,108,196,0.15);
			border-radius: 5px;
  			-moz-border-radius: 5px;
  			-webkit-border-radius: 5px;
  			padding: 3% 5%;
  			margin-top: 2%;
		}
		
		.bottomcontent .bottom-content-one {
			font-size: 90%;
			color: rgba(0,0,0,0.5);
		}
		
		.bottomcontent p {
			margin-bottom: 1%;
		}
		
		.post-info {
			font-style: italic;
			color: #999;
			font-size: 85%;
		}
		
		.top-sidebar {
			width: 21%;
			background-color: rgba(210,108,196,0.15);
			float: left;
			border-radius: 5px;
    		-moz-border-radius: 5px;
    		-webkit-border-radius: 5px;
			margin: 2% 0% 2% 3%;
			padding: 1% 3%;
		}
		
	    .middle-sidebar {
			width: 21%;
			background-color: rgba(210,108,196,0.15);
			float: left;
			border-radius: 5px;
    		-moz-border-radius: 5px;
    		-webkit-border-radius: 5px;
			margin: 2% 0% 2% 3%;
			padding: 1% 3%;
		}
		
		.bottom-sidebar {
			width: 21%;
			background-color: rgba(210,108,196,0.15);
			float: left;
			border-radius: 5px;
    		-moz-border-radius: 5px;
    		-webkit-border-radius: 5px;
			margin: 2% 0% 2% 3%;
			padding: 1% 3%;
		}
		
		.bottom-sidebar p {
			text-align: center;
			margin-top: 3%;
		}
		
		.bottom-sidebar a {
			background-color: rgba(255,36,36,0.6);
			text-shadow: 2px 2px green;
			display: inline-block;
			border-bottom: 1.5px solid rgba(255,36,36,0.7);
			border-right: 1.5px solid rgba(255,36,36,0.7);
			border-radius: 10px;
			margin: 0.5%;
			padding: 1% 3%;
			transition: all 0.1s;
		}
		
		.bottom-sidebar a:active {
			transform: translateY(0.6px);
			border-bottom: 0.9px solid red;
			border-right: 0.9px solid red;
		}
		
		.top-sidebar img, .middle-sidebar img {
			width: 100%;	
		}
		
		.top-sidebar h2, .middle-sidebar h2, .bottom-sidebar h2  {
			color: rgba(255,36,36,0.5);
			font-weight: bold;
			text-align: center
		}
		
		.mainFooter {
			width: 100%;
			height: 40px;
			float: left;
			opacity: 0.5;
		 	height: 40px;
		 	border-radius: 5px;
		 	-moz-border-radius: 5px;
		 	-webkit-border-radius: 5px;
		 	background-color: green;	
			margin: 1% 1%;
		}
		
		.mainFooter p {
			width: 92%;
			margin: 10px auto;
			font-size: 0.7rem;
			color: white;
		}
		
		
		/* 모바일화면 */
		
		@media only screen and (min-width: 150px) and (max-width: 600px) {
			
			.body {
				width: 90%;
				font-size: 95%;
			}
			
			.mainHeader img {
				width: 100%;
				height: 140px;
			}
			
			.mainHeader nav {
				height: 160px;
			}
			
			.mainHeader nav ul {
				padding-left: 0;
			}
			
			.mainHeader nav ul li {
				width: 100%;
				text-align: center;
			}
			
			.mainHeader nav a:link, .mainHeader nav a:visited {
				padding: 10px 25px;
				height: 20px;
				display: block;
			}
			
			.content {
				width: 100%;
				float: left;
				margin-top: 2%;
			}
			
			.post-info {
				display: none;
			}
			
			.topcontent {
				margin-bottom:4%;
			}

			.bottomcontent {
	  			margin-top:3%;
			}
			
			.top-sidebar, .middle-sidebar, .bottom-sidebar {
				width: 94%;
				margin: 2% 0 2% 0;
				padding: 2% 3%;
			}
	
		}
		